# Twitter Sentiment analysis Project

In [2]:
import pandas as pd
import re
import nltk
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
DATASET_COLUMNS = ['target','ids','date','flag','user','text']
DATASET_ENCODING = "ISO-8859-1"
df = pd.read_csv("D:\Robotics\Project Database\Sentiment analysis Data\data.1600000.processed.noemoticon.csv",encoding= DATASET_ENCODING, names=DATASET_COLUMNS)

In [4]:

df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
print(df['target'].value_counts())

target
0    800000
4    800000
Name: count, dtype: int64

In [6]:
df['target']=df['target'].replace(4,1)
print(df['target'].value_counts())

target
0    800000
1    800000
Name: count, dtype: int64

# Data cleaning --> Text Preparing for the training and testing 

- ### Steps in Text Cleaning for the project 
1. Remove urls
2. Replave mentions with 'User'
3. Remove hashtags but keep the text 
4. Remove digits
5. Remove extra whitespace
6. Strip Leading and trailing white spaces 
7. Remove stopwords 
8. Tokenize the text
9. Lemmatize the text

In [7]:
# Creating a function for cleaning the data 

def clean_text(text):


    # Convert text to lower cases 
    text = text.lower()
    print(f'Lowered text : {text}')
    

    # Remove Leading and trailing space
    text = text.strip(" ")
    print(f'Striped text : {text}')
















ex_text = "   This is the end , @prem Hold ur breath and count to ten https://github.com/Deepakdj007/sentiment-analysis/blob/main/twitter-sentiment.ipynb .   "
clean_text(ex_text)

Lowered text :    this is the end , @prem hold ur breath and count to ten https://github.com/deepakdj007/sentiment-analysis/blob/main/twitter-sentiment.ipynb .
Striped text : this is the end , @prem hold ur breath and count to ten https://github.com/deepakdj007/sentiment-analysis/blob/main/twitter-sentiment.ipynb .