# Twitter Sentiment analysis Project

In [15]:
import pandas as pd
import re
import nltk
import matplotlib.pyplot as plt
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import wordnet
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,classification_report , roc_curve,auc

# Ensure NLTK resource are downloaded
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...

True

In [4]:
DATASET_COLUMNS = ['target','ids','date','flag','user','text']
DATASET_ENCODING = "ISO-8859-1"
df = pd.read_csv("D:\Robotics\Project Database\Sentiment analysis Data\data.1600000.processed.noemoticon.csv",encoding= DATASET_ENCODING, names=DATASET_COLUMNS)

In [5]:

df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [6]:
print(df['target'].value_counts())

target
0    800000
4    800000
Name: count, dtype: int64

In [7]:
df['target']=df['target'].replace(4,1)
print(df['target'].value_counts())

target
0    800000
1    800000
Name: count, dtype: int64

# Data cleaning --> Text Preparing for the training and testing 

- ### Steps in Text Cleaning for the project 
1. Remove urls
2. Replave mentions with 'User'
3. Remove hashtags but keep the text 
4. Remove digits
5. Remove extra whitespace
6. Strip Leading and trailing white spaces 
7. Remove stopwords 
8. Tokenize the text
9. Lemmatize the text

In [19]:
# Creating a function for cleaning the data 

def clean_text(text):

    stopwordlist = [
        'a', 'about', 'above', 'after', 'again', 'ain', 'all', 'am', 'an',
        'and', 'any', 'are', 'as', 'at', 'be', 'because', 'been', 'before',
        'being', 'below', 'between', 'both', 'by', 'can', 'd', 'did', 'do',
        'does', 'doing', 'down', 'during', 'each', 'few', 'for', 'from',
        'further', 'had', 'has', 'have', 'having', 'he', 'her', 'here',
        'hers', 'herself', 'him', 'himself', 'his', 'how', 'i', 'if', 'in',
        'into', 'is', 'it', "it's", 'its', 'itself', 'just', 'll', 'm', 'ma',
        'me', 'more', 'most', 'my', 'myself', 'needn', 'no', 'nor', 'now',
        'o', 'of', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves',
        'out', 'own', 're', 's', 'same', 'she', "shes", 'should', "shouldve", 'so', 'some', 'such',
        't', 'than', 'that', "thatll", 'the', 'their', 'theirs', 'them',
        'themselves', 'then', 'there', 'these', 'they', 'this', 'those',
        'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was',
        'we', 'were', 'what', 'when', 'where', 'which', 'while', 'who', 'whom',
        'why', 'will', 'with', 'won', 'y', 'you', "youd", "youll", "youre",
        "youve", 'your', 'yours', 'yourself', 'yourselves'
    ]


    # Function to get NLTK POS tag to WordNEt POS tag

    def get_wordnet_pos(treebank_tag):
        if treebank_tag.startswith('J'):
            return wordnet.ADJ
        elif treebank_tag.startswith('V'):
            return wordnet.VERB
        elif treebank_tag.startswith('N'):
            return wordnet.NOUN
        elif treebank_tag.startswith('R'):
            return wordnet.ADV
        else:
            return wordnet.NOUN
    # Convert text to lower cases 
    text = text.lower()
    print(f'Lowered text : {text}')
    

    # Remove Leading and trailing space
    text = text.strip(" ")
    print(f'Striped text : {text}')

    # Removing the url 
    text = re.sub(r'((www\.[^\s]+)|(https?://[^\s]+))',' ',text)
    print(f'REmoved the url : {text}')


    # Replace @mentions with 'USER'
    text = re.sub(r'@[\S]+','USER',text)
    print(f'@Replaced : {text}')

    # Remove hashtags but keep the text 
    text = re.sub(r'#(\S+)',' ',text)

    # Remove digits 
    text= re.sub(r'\d+','',text)

    # Remove Extra whitespace 
    text = re.sub(r'\s+',' ',text)

    # Remove stopwrods 
    text = " ".join([word for word in text.split() if word not in stopwordlist])

    # Tokenize text 
    tokenizer = RegexpTokenizer(r'\w+\[^\w\s]')
    tokens = tokenizer.tokenize(text)


    # Part of speecht
    pos_tags = nltk.pos_tag(tokens)


    # Lemmatize the text 
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token ,get_wordnet_pos(tag)) for token , tag in pos_tags]

    return " ".join(lemmatized_tokens)